body{
	margin: 0px;
	font-family: 'Sans-serif';
	background: #eeeeff;
	color: #eeeeff;
}
a{
	text-decoration: none;
}
#header{
	display:flex;
	justify-content: space-between;
	text-align: left;
	background-color: #114064;
	padding: 30px;
	margin-bottom: 20px;
}

#header a, #header button{
	border-radius: 20px;
	background-color: #114064;
	padding: 10px;
	padding-bottom: 5px;
	color: #eeeeff;
	outline: solid 1px #1190b4;
	border: 0px;
	margin-right: 5px;
	margin-left: 5px;
}

#header a:hover, #header button:hover{
	background: #1190b4;
	border: 0px;
}

#left{
	text-align: left;
}
#titulo{
	text-align: center;
}
#right{
	text-align: right;
}

#left, #titulo, #right{
	width: 33%;
	margin-top: auto;
	margin-bottom: auto;
}

#titulo{
	font-size:18pt;
	font-weight: bold;
}

#canvas{
	background: #eeeeff;
	position: absolute;
	float: left;
	z-index:-1;
}
