#container{
	display: flex;
	background: #114064;
	padding: 10px;
	flex-direction: column;
	margin: 40px;
	border-radius: 20px;
}

.linha{
	display: flex;
	justify-content: space-between;
}

.grupo{
	display: flex;
	flex-direction: column;
	margin: 5px;
	background: #1190b4;
	border-radius: 10px;
	padding: 5px;
}

.grupo .topico{
	cursor: initial;
	display: none;
}

.grupo .toggle{
	position:absolute;
	opacity: 0;
	width: 0;
	height; 0;
	margin: 0;
	padding: 0;
	pointer-events: none;
}

.clickable:hover{
	background: #115084;
	cursor:pointer;
}
.arrow{
	transition: transform 0.5s ease;
}

.toggle:checked + .linha .arrow{
	transform: rotate(-450deg);
}

.toggle:checked ~ .topico{
	display:block;
	border-radius: 10px;
	background: #eeeeff;
	margin:1px;
	text-decoration: none;
	display: flex;
	justify-content: space-between;
	padding: 2px;
	padding-left:5px;
	color:black;
}

#container .grupo:has(.toggle:checked){
	background: #115084;
}

.problema{
	border-radius: 10px;
	background: #eeeeff;
	margin:1px;
	text-decoration: none;
	display: flex;
	justify-content: space-between;
	padding: 2px;
	padding-left:5px;
	color:black;
}

.topico{
	display: none;
}

.topico a, .problema a{
	text-decoration: none;
	color:black;
}

.topico span, .problema span{
	padding-right: 5px;
	padding-left: 5px;
}

.topico input{
	cursor: pointer;
}

.left{
	width:33%;
	text-align: left;
}

.center{
	width:33%;
	text-align: center;
}

.right{
	width:33%;
	text-align: right;
}

/* Editorial */

.descricao{
	width:auto;
	border-radius: 10px;
	margin: 0px;
	padding: 10px;
	background: #eeeeff;
	color: black;
	font-size: 13pt;
}

.descricao pre:has(code){
	padding: 5px;
	border-radius: 5px;
	background: #bbbbcc;
}

/* Cadastro e Login */

.auth{
	display: flex;
	flex-direction: column;
	padding: 20px;
	border-radius: 20px;
	margin: auto;
	width: 50%;
	text-align: center;
	background: #114064;
}

.auth form{
	display: flex;
	flex-direction: column;
}
.auth form input{
	margin: 10px;
	width: 80%;
}
.auth form button{
	margin: auto;
	width: 50%;
	border-radius: 20px;
	background-color: #114064;
	padding: 10px;
	padding-bottom: 5px;
	color: #eeeeff;
	outline: solid 1px #1190b4;
	border: 0px;
}
.auth form button:hover{
	background-color: #1190b4;
	cursor:pointer;
}

/* Usuario */

#container h1{
	padding-left: 50px;
}

#profile{
	position: relative;
	display:flex;
	justify-content: space-around;
	flex-wrap:wrap;
}
#profile .status{
	margin-top: auto;
	margin-bottom: auto;
	display: flex;
	flex-direction: column;
	text-align: center;
	border-radius: 20px;
	outline: solid 1px #1190b4;
}
#profile div h3{
	margin: 0px;
	padding: 10px;
}

#profile #user_statistics{
	position:relative;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin:10px;
	background-color: #eeeeff;
	width:500px;
	height: 250px;
	padding:10px;
	border-radius: 10px;
	outline: 3px solid #1190b4;
}

#barra_wrap{
	display:flex;
	flex-direction: column;
	margin-top:auto;
	text-align: center;
	font-size: 8pt;
	width: 50px;
	
}

#barra_wrap .nome{
	color: black;
	width: 50px;
	height: 20px;
	border-top: 1px solid black;
	overflow-wrap: white-space;
}

.barra{
	margin-top: auto;
	margin-right: auto;
	margin-left: auto;
	width: 20px;
	background-color: #1190b4;
	z-index: 0;
}

.barra:hover{
	background-color: #114064;
	z-index:9;
	position: relative;
}

.popup{
	display:none;
}

.barra:hover .popup{
	position: absolute;
	left: -45px;
	display: block;
	width: 100px;
	background-color: #eeeeff;
	color: black;
	outline: 1px solid #1190b4;
	z-index:10;
}

/* Contato */
.container2{
	display: flex;
	padding: 10px;
	margin: 40px;
	background: #114064;
	border-radius: 20px;
	flex-direction: row;
}

.contatos{
	padding: 10px;
}

.contato{
	text-align: center;
}

.contato h2{
	width: auto;
}
.contato img{
	width: 200px;
	height: auto;
}

.coluna{
	flex:1;
	display: flex;
	flex-direction: column;
}

.info .descricao{
	margin: 10px;
}

.info .descricao li{
	list-style: none;
}

