#container{
	display: flex;
	background: #114064;
	padding: 10px;
	flex-direction: column;
	margin: 40px;
	border-radius: 20px;
}

#container .grupo{
	display: flex;
	flex-direction: column;
	margin: 5px;
	background: #1190b4;
	border-radius: 10px;
	padding: 5px;
}

.topico{
	border-radius: 10px;
	background: #eeeeff;
	margin:1px;
	text-decoration: none;
	display: flex;
	justify-content: space-between;
	padding: 2px;
	padding-left:5px;
	color:black;
}
.topico a{
	text-decoration: none;
	color:black;
}
.topico span{
	padding-right: 5px;
	padding-left: 5px;
}
