<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<link href="../styles/header.css" rel="stylesheet">
	<link href="../styles/lista.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2"></script>
</head>
<body>
	<div id="header"></div>
	
	<div class='container2'>
		<div class='coluna'>
			<div class='info'>
				<h2> Coordenador do Projeto </h2>
				<div class='descricao'>
					<h4> Charles Porto Ferreira </h4>
					<li>
						<ul> Email: cferreira@fei.edu.br </ul>
					</li>
				</div>
			</div>

			<div class='info'>
				<h2> Horarios </h2>
				<div class='descricao'>
					Horário que estamos disponiveis na sala K409
					<h4> Charles </h4>
					<li>
						<ul> Terça:   14:00 as 15:30 </ul>
						<ul> Quinta:  14:00 as 15:30 </ul>
					</li>


					<h4> Gabriel </h4>
					<li>
						<ul> Segunda: 14:00 as 18:00 </ul>
						<ul> Terça:   14:00 as 18:00 </ul>
						<ul> Quarta:  14:00 as 18:00 </ul>
						<ul> Quinta:  14:00 as 18:00 </ul>
						<ul> Sexta:   14:00 as 18:00 </ul>
					</li>

					<h4> Rafael </h4>
					<li>
						<ul> Segunda: 9:00 as 14:30 e 16:00 as 17:20 </ul>
						<ul> Terça:   9:00 as 12:30 e 14:00 as 15:30 </ul>
						<ul> Quarta:  9:00 as 12:30 e 14:00 as 15:30 </ul>
						<ul> Quinta:  9:00 as 12:30 e 14:00 as 18:00 </ul>
						<ul> Sexta:   9:00 as 11:30 e 13:00 as 17:20 </ul>

					</li>

				</div>
			</div>
			
		</div>

		<div class='contatos'>
			<div class='contato'>
				<h2> Telegram </h2>
				<a href='https://t.me/+8fJmmpELvyMwMzUx'>
					<img src="./../images/qrcode_telegram.png">
				</a>
			</div>

			<div class='contato'>
				<h2> Instagram </h2>
				<a href='https://www.instagram.com/maratonafei?utm_source=qr&stkn=OW1xNzFyY3VydXdz'>
					<img src="./../images/qrcode_instagram.png">
				</a>
			</div>
		</div>

	</div>

	<script src="./../src/session.js" type="text/javascript"></script>
	<script src="./../src/header.js" type="text/javascript"></script>
	<script src="./../src/fundo.js" type="text/javascript"></script>
</body>
</html>


