<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/lista.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2"></script>
</head>
<body>
    <div id="header"></div>
    <div id="titulo">Home</div>
	
	<div id='container'></div>

    <script src="./../src/session.js" type="text/javascript"></script>
	<script src="./../src/editorial.js" type="text/javascript"></script>
    <script src="./../src/header.js" type="text/javascript"></script>
    <script src="./../src/fundo.js" type="text/javascript"></script>
</body>
</html>


