<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="../styles/header.css" rel="stylesheet">
    <link href="../styles/lista.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2"></script>
</head>
<body>
    <div id="header"></div>
	
	<div id='container'>
		<div class='grupo'>
			<div> GitHub Maratona de Programação Fei </div>
			<div class='problema'> <a href='https://github.com/charlesportoferreira/maratona-programacao-fei'> Maratona de Programação FEI </a> </div>
		</div>
		<div class='grupo'>
			<div> Guias, Templates e Exercicios </div>
			<div class='problema'> <a href='https://usaco.guide'> Usaco  Guide </a> </div>
			<div class='problema'> <a href='https://beecrowd.com'> Beecrowd </a> </div>
			<div class='problema'> <a href='https://codeforces.com'> Code Forces </a> </div>
			<div class='problema'> <a href='https://youkn0wwho.academy/topic-list'> Ultimate Topic List </a> </div>
			<div class='problema'> <a href='https://atcoder.jp'> Atcoder </a> </div>
			<div class='problema'> <a href='https://cses.fi/problemset/'> CSES </a> </div>
			<div class='problema'> <a href='https://www.spoj.com/problems/basics/'> Sphere Online Judge (SPOJ) </a> </div>
			<div class='problema'> <a href='https://github.com/brunomaletta/biblioteca'> Github Bruno Maletta </a> </div>
		</div>

		<div class='grupo'>
			<div> Sites com ferramentas uteis </div>
			<div class='problema'> <a href='https://graphonline.top/'> Graph Online </a> </div>
		</div>
	</div>

    <script src="./../src/session.js" type="text/javascript"></script>
    <script src="./../src/header.js" type="text/javascript"></script>
    <script src="./../src/fundo.js" type="text/javascript"></script>
</body>
</html>


